<div *ngIf="product" class="ng-product-single p-4">
  <div class="row">
    <div class="col-6 col-xl-7">
      <div class="single__main-details">
        <h4>
          {{ product.name }}
        </h4>
        <strong>
          {{product.price}}
        </strong>

      </div>
      <div *ngIf="isSinglePage" class="single__misc-details">
        <p>
          <strong>product id: </strong> {{id}}
        </p>
        <p>
          {{ product.description }}
        </p>

      </div>

      <div class="input-group">
        <input
          [(ngModel)]="qty"
          type="number"
          required
          class="form-control"
          min="1"
          max="10"
        />
        <button class="btn btn-primary" (click)="order()">Add To Cart</button>
      </div>
      <br/>
      <a *ngIf="!isSinglePage" routerLink="/product/{{id}}">View details</a>


    </div>
    <div class="col-6 col-xl-5">
      <img src="{{product ? product.url : null }}" class="w-100"/>
    </div>
  </div>
</div>
