<div class="row">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total</th>
      <th scope="col" *ngIf="editable"></th>
    </tr>
  </thead>
  <tbody *ngIf="orderProductList.length">
    <tr *ngFor="let order of orderProductList" >
      <td>{{order.id}}</td>
      <th>{{order.name}}</th>
      <td>{{order.price}}</td>
      <td>
        <div class="input-group">
          <input
            *ngIf="editable"
            [(ngModel)]="order.qty"
            type="number"
            required
            class="form-control"
            (change)="onChange(order.id, order.qty)"
            min="1"
            max="10"
          />
          <span *ngIf="!editable">
            {{order.qty}}
          </span>
        </div>
      </td>
      <td>{{order.total_price}}</td>
      <td *ngIf="editable">
        <div class="btn btn-danger" (click)="removeOrder(order.id)">Remove</div>
      </td>
    </tr>
    <tr >
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td *ngIf="editable"></td>
      <th>TOTAL: {{totalPrice}}</th>
    </tr>
  </tbody>
  <tbody *ngIf="!orderProductList.length">
    <strong>No order</strong>
  </tbody>
</table>

<a *ngIf="orderProductList.length && editable" class="btn btn-success" routerLink="/checkout" >Checkout</a>

</div>
