<div class="row">

  <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Id</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody *ngIf="orderProductList.length">
    <tr *ngFor="let order of orderProductList" >
      <th>{{order.name}}</th>
      <td>{{order.id}}</td>
      <td>{{order.price}}</td>
      <td>{{order.qty}}</td>
      <td>{{order.total_price}}</td>
    </tr>
    <tr >
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <th>TOTAL: {{totalPrice}}</th>
    </tr>
  </tbody>
  <tbody *ngIf="!orderProductList.length">
    <strong>No order</strong>
  </tbody>
</table>

</div>
